.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    background: white;
    font-family: 'poppins';
   }
   .menu {
    position: absolute;
    left: 4.5%;
    top: 5.5%;
  }
.container h1{
    position: absolute;
    left: 8%;
    right: 46.93%;
    top: 16%;
    bottom: 80.67%;
    font-family: 'poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  .custom-card1{
    position: absolute;
    left: 6%;
    right: 75.2%;
    top: 24.83%;
    bottom: 63.17%;   
    width: 65px;
    height: 73.04px;
    background: #E7E7E7;
    border-radius: 10px;
  }
  .custom-card2{
    position: absolute;
    left: 28.13%;
    right: 52.53%;
    top: 24.71%;
    bottom: 63.18%;
    width: 65px;
    height: 73.04px;
    background: #E7E7E7;
    border-radius: 10px;
  }
  ion-img{
    width: 130%;
    margin-left: -5px;
    margin-top: -9px;
  }
  ion-card-content{
    position: absolute;
    left: -3%;
    right: 71.47%;
    top: 80%;
    bottom: 63.05%;
    font-family: 'poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
  }
  .name1{
    position: absolute;
    left: -5%;
    right: 71.47%;
    top: 80%;
    bottom: 63.05%;
    font-family: 'poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: black;
  }
  .name2{
    position: absolute;
    left: -5%;
    right: 71.47%;
    top: 80%;
    bottom: 63.05%;
    font-family: 'poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: black;
  }
  .custom-card3{
    position: absolute;
    left: 51%;
    right: 29.87%;
    top: 24.59%;
    bottom: 63.05%;
    width: 65px;
    height: 73.04px;
    background: linear-gradient(180deg, rgba(2, 153, 255, 0.94) 0%, rgba(55, 119, 177, 0.6768) 100%);
    border-radius: 10px;
  }
  .name3{
    position: absolute;
    left: -11%;
    right: 71.47%;
    top: 80%;
    bottom: 63.05%;
    font-family: 'poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: white;
  }
  .custom-card4{
    position: absolute;
    left: 73.93%;
    right: 7.73%;
    top: 24.59%;
    bottom: 63.05%;
    width: 65px;
    height: 73.04px;
    background: #E7E7E7;
    border-radius: 10px;
  }
  .name4{
    position: absolute;
    left: -10%;
    right: 71.47%;
    top: 80%;
    bottom: 63.05%;
    font-family: 'poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: black;
  }
  .container h2{
    position: absolute;
    width: 93px;
    height: 33px;
    left: 33px;
    top: 290px;

    font-family: 'poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
 
  ion-tab-bar{
    height: 72px;
    background: #ECEBEB;
  }
  .transaksi-icon{
    position: absolute;
    width: 15px;
    left: 80px;
    top: 31px;
   }
  .menu-icon{
    position: absolute;
    width: 35px;
    left: 186px;
    top: 16px;
  }
  .setting-icon{
    position: absolute;
    width: 25px;
    left: 300px;
    top: 27px;
  }

 ion-grid{
  width: 360px;
}
ion-item-option{
  height: 20px;
  margin-top: 15px;
}

.line{
  padding: 0px;
  height: 160px;
  top: 360px;
  margin-top: 8px;
}
.gambar{
  height: 100px;
  margin-top: -10px;  
}
.block{
  margin-top: 1px;
  height: 80px;
  padding: 2px;

}
.list-home{
  height: 150px;
  padding: 0 !important;
  box-shadow: -2px -2px 4px #FFFFFF, 0px 2px 4px rgba(25, 38, 73, 0.08), inset -2px -2px 5px #FFFFFF, inset 1px 1px 5px rgba(24, 38, 72, 0.13);
  border-radius: 26px;
}
.label-name{
display: block;
margin-top: 10px;
text-align: center;
font-family: 'poppins';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 186.5%;
color: #1A1F96;
}
.label-id{
display: block;
margin-top: 10px;
margin-left: 20px;
font-size: 12.5px;
color: #A9AEE5;
}