<ion-content [fullscreen]="true">
  <div class="container">
    
    <h1>Laporan</h1>

    <ion-card class="keterangan"> 
      <ion-label class="tittle">Laporan harian :</ion-label>
    </ion-card>

    <div class="tambah">
      <ion-img routerLink="/tambahlaporan" src="assets/tambah.svg"></ion-img>
    </div>

    <img routerLink="/pesananmakanan" src="assets/kembali.svg"/> 
     
    <ion-grid class="ktr">
      <ion-row>
        <ion-col size="3.1"  class="nama-menu">
          Kantin
        </ion-col>
        <ion-col  size="3.1" class="jumlah">
          Pesanan
        </ion-col>
        <ion-col size="2.2"  class="jenis-menu">
          Jml
        </ion-col>
        <ion-col  size="3" class="aksi">
          Total
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card class="card" *ngFor="let laporan of laporans">
      <ion-item-sliding>
      <ion-item>
        <ion-label class="desc">{{laporan.desc}}</ion-label><br>
        <ion-label class="title">{{laporan.title}}</ion-label>
        <ion-label class="amount">{{laporan.amount}} </ion-label>
        <ion-label class="price">{{laporan.price * laporan.amount | currency:'Rp '}}</ion-label>
      </ion-item>
    
      <ion-item-options slide="end">
  
        <ion-item-option color="danger" (click)="delete(laporan.laporanId)">
          Delete
        </ion-item-option>
        <ion-item-option color="warning" (click)="edit(laporan.laporanId)">
          Edit
        </ion-item-option>

      </ion-item-options>
    </ion-item-sliding>
  </ion-card>
  </div>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar>
      <div class="transaksi-icon">
        <ion-img routerLink="/transaksiadmin" src="assets/icon/transaksi.svg"></ion-img>                  
       </div>
       <div class="menu-icon">
        <ion-img   src="assets/icon/icon_menu.svg"></ion-img>                       
       </div>
       <div  class="setting-icon">
        <ion-img routerLink="/pengaturan" src="assets/icon/settings.svg"></ion-img>                       
       </div>
  </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>