<ion-content>

    <div class="menu"> 
    <ion-img src="assets/risoles.svg"></ion-img> 
  </div>
  <div class="container">
    <ion-card class="top">
      <div class="clock"> 
      <ion-img src="assets/clock.svg"></ion-img></div>
      <ion-card-header> 
         
      </ion-card-header> 
    
       <ion-card-content class="kantin-mbaayu">
        Kantin Mba Ayu
        <ion-subtittle>ID 0002</ion-subtittle>
      </ion-card-content>
      <ion-card-content class="jam-mbaayu">
        8.00-14.00
      </ion-card-content>
    </ion-card>

  </div>

<ion-card class="custom-risoles">
  <ion-card-header> 
  <div class="img-risoles">
  <ion-img src="assets/risoles2.svg"></ion-img>
  </div>
  </ion-card-header> 
  <ion-card-content class="risoles">Risoles              
  </ion-card-content>
  <ion-card-content class="hargarisoles">Rp. 2000               
  </ion-card-content>
  <div class="plusrisoles">
    <ion-img src="assets/plus.svg"></ion-img>
    </div>
</ion-card>

<ion-card class="custom-piscok">
  <ion-card-header> 
  <div class="img-piscok">
  <ion-img src="assets/piscok.svg"></ion-img>
  </div>
  </ion-card-header> 
  <ion-card-content class="piscok">Piscok             
  </ion-card-content>
  <ion-card-content class="hargapiscok">Rp. 1500               
  </ion-card-content>
  <div class="pluspiscok">
    <ion-img src="assets/plus.svg"></ion-img>
    </div>
</ion-card>

<ion-card class="custom-dadargulung">
  <ion-card-header> 
  <div class="img-dadargulung">
  <ion-img src="assets/dadargulung.svg"></ion-img>
  </div>
  </ion-card-header> 
  <ion-card-content class="dadargulung">Dadar Gulung            
  </ion-card-content>
  <ion-card-content class="hargasatetelur">Rp. 1500               
  </ion-card-content>
  <div class="plusdadargulung">
    <ion-img src="assets/plus.svg"></ion-img>
    </div>
</ion-card>

<ion-card class="custom-aremarem">
  <ion-card-header> 
  <div class="img-aremarem">
  <ion-img src="assets/aremarem.svg"></ion-img>
  </div>
  </ion-card-header> 
  <ion-card-content class="aremarem">Arem-arem            
  </ion-card-content>
  <ion-card-content class="hargaaremarem">Rp. 2000               
  </ion-card-content>
  <div class="plusaremarem">
    <ion-img src="assets/plus.svg"></ion-img>
    </div>
</ion-card>

<ion-tabs>
  <ion-tab-bar>
    <ion-card class="bar-pesanan">
      <div class="img-lanjut">
      <ion-img routerLink="/detailbooking" src="assets/icon-lanjut.svg"></ion-img>
      </div>
    </ion-card>
    <h3 class="total">Total :</h3>
    <h3 class="jumlahitem">Jumlah item :</h3>
</ion-tab-bar>
</ion-tabs>

<div  class="icon-back"> 
  <ion-img routerLink="/bookingjajanan" src="assets/back_menu.svg"></ion-img> 
   </div>

</ion-content>