.icon-back{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 24px;
    top: 65px;
}
.menu{
    width: 410px;
    height: 319px;
    left: 0px;
    top: -2px;
}
.container{
    font-family: 'poppins';
}
.top{
    position: absolute;
    width: 410px;
    height: 152px;
    left: -10px;
    top: 187px;
    background: white;
    border-radius: 20px 20px 0px 0px;
}
.clock{
    position: absolute;
    width: 14px;
    height: 13px;
    left: 40px;
    top: 100px;
    }    

.kantin-mbaayu{
    position: absolute;
    left: 4.9%;
    right: 37.6%;
    top: 50px;
    bottom: 74.86%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #2D2B43;
}
ion-subtittle{
    position: absolute;
    left: 8%;
    right: 37.6%;
    top: 210%;
    bottom: 72.76%;
    font-family: 'poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #9B9B9B;
}
.jam-mbaayu{
    position: absolute;
    left: 11.2%;
    right: 64%;
    top: 62%;
    bottom: 69.9%;
    font-family: robboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #404040;
}
.custom-risoles{
    position: absolute;
    width: 345px;
    height: 89px;
    left: 24px;
    top: 355px;
    background:  white;
    border-radius: 14px;
}
.img-risoles{
    width: 70px;
    height: 69px;
    margin-left: -2px;
    margin-top: -3px;
}
.risoles{
    position: absolute;
    width: 137px;
    height: 1%;
    left: 110px;
    top: 36px;
    font-family: 'poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 100%;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 4px;
    padding-right: 2px;
}
.hargarisoles{
    position: absolute;
    width: 100px;
    height: 1px;
    left: 100px;
    top: 36px;
        
    font-family: 'poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    color: black;
}
.plusrisoles{
    position: absolute;
    width: 29px;
    height: 27px;
    left: 307px;
    top: 50px;
}

.custom-piscok{
    position: absolute;
    width: 345px;
    height: 89px;
    left: 24px;
    top: 460px;
    background:  white;
    border-radius: 14px;
}
.img-piscok{
    width: 70px;
    height: 69px;
    margin-left: -2px;
    margin-top: -3px;
}
.piscok{
    position: absolute;
    width: 137px;
    height: 1%;
    left: 110px;
    top: 36px;
    font-family: 'poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 100%;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 4px;
    padding-right: 2px;
}
.hargapiscok{
    position: absolute;
    width: 100px;
    height: 1px;
    left: 100px;
    top: 36px;
        
    font-family: 'poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    color: black;
}
.pluspiscok{
    position: absolute;
    width: 29px;
    height: 27px;
    left: 307px;
    top: 50px;
}

.custom-dadargulung{
    position: absolute;
    width: 345px;
    height: 89px;
    left: 24px;
    top: 565px;
    background:  white;
    border-radius: 14px;
}
.img-dadargulung{
    width: 70px;
    height: 69px;
    margin-left: -2px;
    margin-top: -3px;
}
.dadargulung{
    position: absolute;
    width: 137px;
    height: 1%;
    left: 110px;
    top: 36px;
    font-family: 'poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 100%;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 4px;
    padding-right: 2px;
}
.hargadadargulung{
    position: absolute;
    width: 100px;
    height: 1px;
    left: 100px;
    top: 36px;
        
    font-family: 'poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    color: black;
}
.plusdadargulung{
    position: absolute;
    width: 29px;
    height: 27px;
    left: 307px;
    top: 50px;
}

.custom-aremarem{
    position: absolute;
    width: 345px;
    height: 89px;
    left: 24px;
    top: 670px;
    background:  white;
    border-radius: 14px;
}
.img-aremarem{
    width: 70px;
    height: 69px;
    margin-left: -2px;
    margin-top: -3px;
}
.aremarem{
    position: absolute;
    width: 137px;
    height: 1%;
    left: 110px;
    top: 36px;
    font-family: 'poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 100%;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 4px;
    padding-right: 2px;
}
.hargaaremarem{
    position: absolute;
    width: 100px;
    height: 1px;
    left: 100px;
    top: 36px;
        
    font-family: 'poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    color: black;
}
.plusaremarem{
    position: absolute;
    width: 29px;
    height: 27px;
    left: 307px;
    top: 50px;
}

ion-tab-bar{
    height: 72px;
    background: rgba(2, 153, 255, 0.94);
    border-radius: 15px 15px 0px 0px;
}
.bar-pesanan{
    position: absolute;
    left: 74.13%;
    right: 5.87%;
    top: 7%;
    bottom: 20.45%;
    background: rgba(213, 213, 213, 0.33);
    border-radius: 10px;
    width: 75px;
    height: 44px;
}
.img-lanjut{
    position: absolute;
    left: 35%;
    right: 12.87%;
    top: 26%;
    bottom: 32.1%;
    background: none;
    width: 22.75px;
    height: 22.75px;
}
.total{
    position: absolute;
    width: 137px;
    height: 1%;
    left: 20px;
    top: 9px;
    font-family: 'poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 4px;
    padding-right: 2px;
}
.jumlahitem{
    position: absolute;
    width: 137px;
    height: 1%;
    left: 20px;
    top: 34px;
    font-family: 'poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 4px;
    padding-right: 2px;
}


